.article--post .article-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: clamp(18px, 1vw + 16px, 19px);
  line-height: 1.5;
  letter-spacing: 0;
  /* padding-right: 50px; */
}

/* .article--post .article-content li {
  /* letter-spacing: -0.02em; */
*/ .article--post .article-content p {
  /* letter-spacing: -0.02em; */
  text-align: left;
  text-justify: inter-word;
  /* hyphens: auto; */
}

.article--post .article-title,
.article--post .article-subtitle,
.article--post .article-content h1,
.article--post .article-content h2,
.article--post .article-content h3,
.article--post .article-content h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
